@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header, .head-btns, .possibility, .preferences__items, .take-card__items {
  display: flex;
  justify-content: space-between; }

@font-face {
  font-family: 'ProbaPro';
  src: url("../fonts/ProbaPro-Regular.eot");
  src: local("☺"), url("../fonts/ProbaPro-Regular.woff") format("woff"), url("../fonts/ProbaPro-Regular.ttf") format("truetype"), url("../fonts/ProbaPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProbaPro';
  src: url("../fonts/ProbaPro-SemiBold.eot");
  src: local("☺"), url("../fonts/ProbaPro-SemiBold.woff") format("woff"), url("../fonts/ProbaPro-SemiBold.ttf") format("truetype"), url("../fonts/ProbaPro-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

body {
  color: #2f547d;
  font-family: 'ProbaPro'; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; } }

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1053;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0; }

.modal-content p {
  text-align: center; }

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); } }

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: hidden; }
  .modal-body p {
    margin: 20px 0px;
    font-size: 25px; }
  .modal-body img {
    width: 200px;
    height: 200px; }
  .modal-body .modal-btn {
    margin: 40px 0px;
    z-index: 1055; }

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ffcb05;
  border-bottom: 16px solid #5da9dd;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 100000;
  display: none; }

@media (max-width: 576px) {
  .loader {
    top: 35%;
    left: 35%; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  border-bottom: 5px solid #ffcb05;
  align-items: center; }

.head-btns {
  margin-top: 50px; }

.social-media-links__img {
  width: 56px;
  height: 56px;
  fill: #2f547d; }

@media (max-width: 480px) {
  .social-media-links__img {
    width: 36px;
    height: 36px; } }

.social-media-links__item {
  display: inline-block;
  margin: 0 12px; }

.social-media-links__img:hover {
  fill: #ffcb05; }

.change-lang {
  color: #2f547d;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #2f547d; }

.logo {
  width: 220px;
  height: 100px; }

.element-animation {
  opacity: 0;
  transform: translateY(20px); }

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); }

.main-button {
  display: inline-block;
  color: #fff;
  background-color: #ffcb05;
  font-size: 22px;
  padding: 10px 15px;
  width: 300px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  -moz-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  transition: all 0.5s; }

.fake-btn {
  display: inline-block;
  color: #fff;
  background-color: grey;
  font-size: 30px;
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  -moz-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
  margin-top: 40px;
  display: none; }

@media (max-width: 480px) {
  .fake-btn {
    margin: 40px auto; } }

.main-button:hover {
  -webkit-box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48);
  -moz-box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48);
  box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48); }

.main-title {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  margin-top: 120px; }

.main-title ._active {
  transform: translate(0px, 0px);
  opacity: 1; }

.main-title::before {
  content: '';
  border-left: 7px solid #5da9dd;
  margin-right: 20px; }

.social-media-links__list {
  margin: 0px 0px; }

.bottom-list {
  margin: 30px 0px; }

.possibility {
  padding: 70px 22px; }
  .possibility .possibility__text {
    width: 60%; }
    .possibility .possibility__text .possibility__text-btn {
      margin-top: 60px; }
    .possibility .possibility__text .possibility__text-title {
      font-size: 72px;
      font-weight: 600; }
    .possibility .possibility__text .possibility__text-description {
      font-size: 40px;
      font-weight: 600;
      margin-top: 65px;
      line-height: 1.2em; }
  .possibility .possibility__img {
    background-image: url("../img/big-circle.png");
    background-size: cover;
    max-width: 400px;
    max-height: 400px; }
    .possibility .possibility__img .possibility__img-card {
      max-width: 95%;
      margin-top: 66px;
      perspective: 100px;
      -webkit-box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
      -moz-box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
      box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
      border: 4px solid white;
      border-radius: 20px; }

@media (max-width: 750px) {
  .main-title {
    margin-top: 60px; }
  .possibility {
    display: block;
    padding: 70px 22px; }
    .possibility .possibility__text {
      text-align: center;
      width: 100%; }
      .possibility .possibility__text .possibility__text-btn {
        margin-top: 60px; }
    .possibility .possibility__img {
      display: block;
      margin: 30px auto;
      background-image: none; } }

@media (max-width: 630px) {
  .main-button {
    font-size: 20px;
    margin-top: 20px; }
  .head-btns {
    width: 100%;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 480px) {
  .header {
    align-items: center;
    flex-direction: column; }
  .social-media-links {
    margin-top: 50px; }
  .social-media-links__img {
    width: 46px;
    height: 46px; }
  .social-media-links__item {
    display: inline-block;
    fill: #2f547d;
    margin: 12px 12px; }
  .main-title {
    font-size: 42px;
    text-align: center;
    margin-top: 60px; }
  .main-title::before {
    content: '';
    border-left: 5px solid #5da9dd;
    margin-right: 10px; }
  .back-button {
    display: inline-block;
    color: #2f547d;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #2f547d;
    -webkit-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
    -moz-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
    box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
    transition: all 0.5s;
    font-size: 20px;
    padding: 15px 85px;
    margin-top: 50px;
    margin: 50px auto; }
  .possibility {
    padding: 70px 22px; }
    .possibility .possibility__text {
      width: 100%; }
      .possibility .possibility__text .possibility__text-btn {
        margin-top: 60px; }
      .possibility .possibility__text .possibility__text-title {
        font-size: 42px;
        font-weight: 600; }
      .possibility .possibility__text .possibility__text-description {
        font-size: 30px;
        font-weight: 600; } }

.preferences__items {
  margin-top: 100px; }
  .preferences__items .preferences__items-block {
    width: 290px;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48);
    -moz-box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48);
    box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48); }
    .preferences__items .preferences__items-block .preferences__items-block-img {
      height: 230px;
      background-image: url("../img/small-circle.png");
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center; }
    .preferences__items .preferences__items-block .preferences__items-block-img img {
      margin: 0;
      max-width: 85%; }
    .preferences__items .preferences__items-block .preferences__items-block-text {
      color: #2f547d;
      font-size: 26px;
      text-align: center;
      font-weight: 600; }

@media (max-width: 750px) {
  .preferences__items {
    display: block;
    margin-top: 100px; }
    .preferences__items .preferences__items-block {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px; } }

@media (max-width: 480px) {
  .preferences__items .preferences__items-block {
    width: 80%; }
    .preferences__items .preferences__items-block .preferences__items-block-img {
      height: 120px;
      width: 120px;
      margin: 0 auto;
      background-size: cover; }
    .preferences__items .preferences__items-block .preferences__items-block-img img {
      max-width: 120%; }
    .preferences__items .preferences__items-block .preferences__items-block-text {
      margin-top: 20px;
      font-size: 20px; } }

.take-card__img {
  display: flex;
  justify-content: center; }
  .take-card__img .take-card__img-card {
    max-width: 500px; }

.take-card__items {
  justify-content: space-around;
  margin-top: 0px; }
  .take-card__items .take-card__img-container {
    width: 50%; }
  .take-card__items .take-card__items-block {
    position: relative;
    margin-top: 50px;
    width: 240px;
    padding: 20px; }
    .take-card__items .take-card__items-block .take-card__items-block-img-num {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #ffcb05;
      text-align: center;
      border-radius: 70%;
      top: 5%;
      right: 15%;
      font-size: 20px;
      font-weight: 600; }
    .take-card__items .take-card__items-block .take-card__items-block-img-num p {
      margin-top: 5px; }
    .take-card__items .take-card__items-block .take-card__items-block-img {
      height: 180px;
      background-image: url("../img/small-x-circle-blue.png");
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center; }
    .take-card__items .take-card__items-block .take-card__items-block-img img {
      margin: 0;
      max-width: 45%; }
    .take-card__items .take-card__items-block .take-card__items-block-text {
      color: #2f547d;
      font-size: 26px;
      text-align: center;
      font-weight: 600; }

@media (max-width: 750px) {
  .take-card__items {
    display: block;
    margin-top: 50px; }
    .take-card__items .take-card__items-block {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px; } }

@media (max-width: 480px) {
  .take-card__items .take-card__items-block {
    width: 80%;
    padding: 0; }
    .take-card__items .take-card__items-block .take-card__items-block-img-num {
      position: static;
      margin: 0 auto; }
    .take-card__items .take-card__items-block .take-card__items-block-img {
      position: static;
      height: 120px;
      width: 120px;
      margin: 20px auto;
      background-size: cover; }
    .take-card__items .take-card__items-block .take-card__items-block-img img {
      max-width: 120%; }
    .take-card__items .take-card__items-block .take-card__items-block-text {
      margin-top: 20px;
      font-size: 20px; } }

@media (max-width: 750px) {
  .take-card__img .take-card__img-card {
    max-width: 80%; } }

.chance__bg {
  margin-top: 40px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat; }

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .offer .offer__title {
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 46px;
    width: 70%;
    margin-top: 100px; }
  .offer .offer__btn {
    margin: 60px auto; }

.investments__info h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  width: 79%;
  margin: 65px auto;
  color: #fff;
  line-height: 1.2em; }

.program__info h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  width: 79%;
  margin: 65px auto;
  color: #2f547d;
  line-height: 1.2em; }

.main-title-exception {
  color: #fff; }

.investments__visualization {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  margin: 50px 0; }
  .investments__visualization .investments__visualization-img {
    height: 100px;
    width: 100px;
    background-image: url("../img/small-circle-blue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .investments__visualization .investments__visualization-img img {
    margin: 0;
    height: 120px;
    width: 120px; }

.bg-none img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px; }

.bg-none {
  margin: 0 auto; }

@media (max-width: 627px) {
  .investments__info h2 {
    font-size: 26px; }
  .program__info h2 {
    font-size: 26px; } }

@media (max-width: 500px) {
  .investments__info h2 {
    font-size: 20px;
    width: 90%;
    margin: 35px auto; }
  .program__info h2 {
    font-size: 20px;
    width: 90%;
    margin: 35px auto; }
  .investments__visualization {
    height: 250px;
    flex-direction: column;
    align-items: center; }
    .investments__visualization .investments__visualization-img {
      height: 50px;
      width: 50px; }
    .investments__visualization .investments__visualization-img img {
      margin: 0;
      height: 70px;
      width: 70px; } }

@media (max-width: 480px) {
  .offer .offer__title {
    font-size: 36px;
    width: 95%;
    margin-top: 80px;
    line-height: 1.3em; }
  .offer .offer__btn {
    margin: 30px auto; } }

.flex-container {
  display: flex;
  margin-top: 100px; }

.marketplace-top {
  display: flex;
  width: 30%;
  margin-top: 50px;
  width: 80%;
  justify-content: space-between; }

.marketplace {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  justify-items: center; }

@media (max-width: 750px) {
  .marketplace-top {
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column; }
  .marketplace {
    flex-direction: column; } }

.marketplace__container-img {
  display: block;
  margin: 0 auto; }

.marketplace__container-img {
  width: 200px; }

.form-container {
  width: 380px; }

.form-data__img img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

@media (max-width: 750px) {
  .flex-container {
    flex-direction: column; }
  .form-data__img img {
    margin: 0 auto; }
  .form-container {
    margin: 0 auto;
    padding-left: 20px; } }

@media (max-width: 480px) {
  .form-container {
    width: 80%; } }

.footer, .suport-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.footer p {
  border-top: 5px solid #ffcb05;
  width: 80%;
  padding: 20px 0;
  line-height: 1.2em; }

.support-bar {
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 20px;
  text-align: center;
  position: fixed;
  right: 2%;
  bottom: 28%;
  z-index: 1000;
  transition: .3s ease-in-out;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
  vertical-align: middle; }
  .support-bar li {
    color: #2f547d;
    font-weight: 600;
    padding: 20px 50px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .support-bar li:first-child {
    border-radius: 5% 5% 0 0; }
  .support-bar li:last-child {
    border-radius: 0 0 5% 5%; }
  .support-bar li:hover {
    color: #fff;
    background-color: #2f547d; }
  .support-bar .support-bar__title {
    display: none; }
  .support-bar .support-bar__list-item {
    width: 35px;
    height: 35px;
    fill: #2f547d; }
  .support-bar li:hover .support-bar__list-item {
    fill: #fff; }
  .support-bar .back-button {
    display: none; }

@media (max-width: 580px) {
  .support-bar {
    bottom: 15%; } }

@media (max-width: 480px) {
  .support-bar {
    overflow: hidden;
    background: #fff;
    border-radius: 0%;
    height: 100vh;
    width: 100%;
    font-size: 35px;
    text-align: center;
    position: fixed;
    right: 0%;
    bottom: 0%; }
    .support-bar p {
      display: none; }
    .support-bar li {
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #2f547d;
      border-radius: 0%; }
    .support-bar li:first-child {
      border-radius: 0; }
    .support-bar li:last-child {
      border-radius: 0; }
    .support-bar .support-bar__title {
      display: block;
      padding: 35px;
      border-bottom: 2px solid #2f547d; }
    .support-bar .support-bar__list-item {
      width: 65px;
      height: 65px; }
    .support-bar .back-button {
      display: block; } }
