// @import 'reset.scss';

$main_yellow_color: #ffcb05;
$main_blue_color: #2f547d;
$sub_blue_color: #5da9dd;

%flex-position {
	display: flex;
	justify-content: space-between;
}
@font-face {
	font-family: 'ProbaPro';
	src: url('../fonts/ProbaPro-Regular.eot');
	src: local('☺'), url('../fonts/ProbaPro-Regular.woff') format('woff'), url('../fonts/ProbaPro-Regular.ttf') format('truetype'), url('../fonts/ProbaPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProbaPro';
	src: url('../fonts/ProbaPro-SemiBold.eot');
	src: local('☺'), url('../fonts/ProbaPro-SemiBold.woff') format('woff'), url('../fonts/ProbaPro-SemiBold.ttf') format('truetype'), url('../fonts/ProbaPro-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: $main_blue_color;
	font-family: 'ProbaPro';
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	max-width: 1170px;
	margin: 0 auto;
	padding: 15px;
	border-bottom: 5px solid $main_yellow_color;
	@extend %flex-position;
	align-items: center;
}
.social-media-links__img {
	width: 56px;
	height: 56px;
	fill: $main_blue_color;
}
@media (max-width: 480px) {
	.social-media-links__img {
		width: 36px;
		height: 36px;
	}
}
.social-media-links__item {
	display: inline-block;
}

.social-media-links__img:hover {
	fill: $main_yellow_color;
} 
.change-lang {
	color: #2f547d;
	font-size: 18px;
	padding: 10px;
	border: 2px solid #2f547d;
}
.logo {
	width: 220px;
	height: 100px;
}
.element-animation {
	opacity: 0;
	transform: translateY(20px);
  }
  
  .element-animation.element-show {
	opacity: 1;
	transition: all 1.5s;
	transform: translateY(0%);
  }
.main-button {
	display: inline-block;
	color: #fff;
	background-color: $main_yellow_color;
	font-size: 30px;
	padding: 15px 25px;
	border-radius: 25px;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
	-moz-box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
	box-shadow: 0px 0px 29px 9px rgba(93, 169, 221, 0.33);
	transition: all 0.5s;
}
.main-button:hover {
	-webkit-box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48);
	-moz-box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48);
	box-shadow: 0px 0px 32px 9px rgba(221, 116, 93, 0.48);
}
.main-title {
	font-weight: 600;
	font-size: 72px;
	text-align: center;
	margin-top: 120px;
}
.main-title ._active {
	transform: translate(0px, 0px);
	opacity: 1;
}
.main-title::before {
	content: '';
	border-left: 10px solid $sub_blue_color;
	margin-right: 20px;
}
.social-media-links__list {
	margin: 30px 0px;
}
.possibility {
	@extend %flex-position;
	padding: 70px 22px;
	.possibility__text {
		.possibility__text-btn {
			margin-top: 60px;
		}
		width: 60%;
		.possibility__text-title {
			font-size: 72px;
			font-weight: 600;
		}

		.possibility__text-description {
			font-size: 40px;
			font-weight: 600;
			margin-top: 65px;
			line-height: 1.2em;
		}
	}
	.possibility__img {
		background-image: url('../img/big-circle.png');
		background-size: cover;
		max-width: 400px;
		max-height: 400px;
		.possibility__img-card{
			max-width: 95%;
			margin-top: 66px;
			perspective: 100px;
			-webkit-box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
			-moz-box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
			box-shadow: 17px -2px 18px 8px rgba(34, 60, 80, 0.16);
			border: 4px solid white;
			border-radius: 20px;
		}
	}

}
@media (max-width: 750px) {
	.main-title {
		margin-top: 60px;
	}
	.possibility {
		display: block;
		padding: 70px 22px;
		.possibility__text {
			text-align: center;
			.possibility__text-btn {
				margin-top: 60px;
			}
			width: 100%;
		}
		.possibility__img {
			display: block;
			margin: 30px auto;
			background-image: none;
		}
	}
}
@media (max-width: 480px) {
	.header {
		align-items: center;
		flex-direction: column;
	}
	.social-media-links {
		margin-top: 50px;
	}
	.social-media-links__img {
		width: 46px;
		height: 46px;
	}
	.social-media-links__item {
		display: inline-block;
		fill: $main_blue_color;
	} 
	.main-title {
		font-size: 52px;
		text-align: center;
		margin-top: 60px;
	}
	.main-title::before {
		content: '';
		border-left: 7px solid $sub_blue_color;
		margin-right: 10px;
	}
	.main-button {
		font-size: 20px;
		padding: 15px 25px;
	}
	.possibility {
		padding: 70px 22px;
		.possibility__text {
			.possibility__text-btn {
				margin-top: 60px;
			}
			width: 100%;
			.possibility__text-title {
				font-size: 42px;
				font-weight: 600;
			}
			.possibility__text-description {
				font-size: 30px;
				font-weight: 600;
			}
		}
	}
}
.preferences__items {
	@extend %flex-position;
	margin-top: 100px;
	.preferences__items-block {

		width: 290px;
		padding: 20px;
		border-radius: 20px;
		-webkit-box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48);
		-moz-box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48);
		box-shadow: 0px 0px 35px 6px rgba(93, 169, 221, 0.48);
		.preferences__items-block-img {
			height: 230px;
			background-image: url("../img/small-circle.png");
			background-repeat: no-repeat;
			background-position: center center;
			display: flex;
			align-items: center;
			justify-content: center 
		}
		.preferences__items-block-img img{
			margin: 0 ;
			max-width: 85%;
		}
		.preferences__items-block-text {
			color: $main_blue_color;
			font-size: 36px;
			text-align: center;
			font-weight: 600;
		}
	}
}
@media (max-width: 750px) {
	.preferences__items {
		display: block;
		margin-top: 100px;
		.preferences__items-block {
			width: 80%;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}
@media (max-width: 480px) {
	.preferences__items {
		.preferences__items-block {
			width: 80%;
			.preferences__items-block-img {
				height: 120px;
				width: 120px;
				margin: 0 auto;
				background-size: cover;
			}
			.preferences__items-block-img img{
				max-width: 120%;
			}
			.preferences__items-block-text {
				margin-top: 20px;
				font-size: 26px;
			}
		}
	}
}
.chance__bg {
	margin-top: 40px;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
}
.offer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.offer__title {
		font-weight: 600;
		text-align: center;
		color: #fff;
		font-size: 46px;
		width: 70%;
		margin-top: 100px;
	}
	.offer__btn {
		margin: 60px auto;
	}
}
.investments__info h2 {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	width: 79%;
	margin: 65px auto;
	color: #fff;
	line-height: 1.2em;
}
.main-title-exception {
	color: #fff;
}

.investments__visualization {
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	margin: 50px 0;
	.investments__visualization-img {
		height: 100px;
		width: 100px;
		background-image: url("../img/small-circle-blue.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		align-items: center;
		justify-content: center 
	}
	.investments__visualization-img img{
		margin: 0 ;
		height: 120px;
		width: 120px;
	}
	
}
.bg-none img{
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}
.bg-none{
	margin: 0 auto;
}
@media (max-width: 627px) {
	.investments__info h2 {
		font-size: 28px;
	}
}
@media (max-width: 500px) {
	.investments__info h2 {
		font-size: 26px;
		width: 90%;
		margin: 35px auto;
	}
	.investments__visualization {
		height: 250px;
		flex-direction: column;
		align-items: center;
		.investments__visualization-img {
			height: 50px;
			width: 50px;
		}
		.investments__visualization-img img{
			margin: 0 ;
			height: 70px;
			width: 70px;
		}
	}
}



@media (max-width: 480px) {
	.offer {

		.offer__title {
			font-size: 36px;
			width: 95%;
			margin-top: 80px;
			line-height: 1.3em;
		}
		.offer__btn {
			margin: 30px auto;
		}
	}



}
.flex-container {
	@extend %flex-position;
	margin-top: 100px;
}
.form-container {
	width: 380px;
}
.form-data__img img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.form {
	border-left: 10px solid $sub_blue_color;
	padding: 0 15px 0 80px;
	.error {
		font-size: 12px;
		color: red;
		margin-left: 5px;
	}
	input {
		width: 100%;
		display: block;
		font-size: 18px;
		padding: 17px 0 10px 10px;
		border: none;
		outline: none;
		border-bottom: 2px solid #e8fc05;
		background-color: #fdfdfd;
		color: $main_blue_color;
	}
	input:not(:first-child) {
		margin-top: 65px;
	}
	input:focus {
		border-bottom: 4px solid $main_yellow_color;
		-webkit-box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);
		-moz-box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);
		box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);

		font-size: 24px;
	}
	.form__btn {
		margin-top: 40px;
	}
}

.checkbox {
	display: none;
	opacity: 0;
}
.fake {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #25b7d3;
	border-radius: 50%;
	top: 5px;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: block;
		width: 10px;
		height: 10px;
		background-color: #fff;
		opacity: 1;
	}
	&::after {
		content: '✔';
		position: absolute;
		top: 29%;
		left: 51%;
		transform: translate(-50%,-50%);
		display: block;
		width: 10px;
		height: 10px;
		opacity: 0;
	}
}
.checkbox-text {
	font-size: 18px;
}
.checkbox:checked + .fake::after {
	opacity: 1;
}
.select {
	position: relative;
  }
  .selectWrapper {
	position: relative;
  }
  
  .selectCustom {
	position: relative;
	width: 100%;
	// height: 4rem;
  }
  
  .selectCustom-trigger {
	position: relative;
	width: 100%;
	background-color: #fff;
	font-size: 18px;
	padding: 17px 0 10px 10px;
	background-color: #fdfdfd;
	border-bottom: 2px solid #e8fc05;
	cursor: pointer;
  }
  .selectCustom-trigger::after {
	content: "▾";
	position: absolute;
	top: 0;
	line-height: 3.8rem;
	right: 0.8rem;
  }
  
  .selectCustom-trigger:hover {
	border-bottom: 4px solid $main_yellow_color;
	-webkit-box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);
	-moz-box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);
	box-shadow: 0px 22px 10px -10px rgba(93, 169, 221, 0.21);
  }
  
  .selectCustom-options {
	position: absolute;
	top: calc(3.8rem + 0.8rem);
	left: 0;
	width: 100%;
	border: 1px solid #6f6f6f;
	border-radius: 0.4rem;
	background-color: #fff;
	box-shadow: 0 0 4px #e9e1f8;
	z-index: 1;
	padding: 0.8rem 0;
	display: none;
	height: 290px;
	overflow: auto;
  }
  
  .selectCustom.isActive .selectCustom-options {
	display: block;
  }
  
  .selectCustom-option {
	position: relative;
	padding: 0.8rem;
  }
  
  .selectCustom-option:hover {
	background-color: #f7ecff;
  }
  
  .selectCustom-option:not(:last-of-type)::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0.8rem;
	width: calc(100% - 1.6rem);
	border-bottom: 1px solid #d3d3d3;
  }



@media (max-width: 750px) {
	.flex-container {
		flex-direction: column;
	}
	.form-data__img img {
		margin: 0 auto;
	}
	.form-container{
		margin: 0 auto;
		padding-left: 20px;
	}
	.form {
		border-left: none;
		margin-top: 50px;
		padding: 0;
	}
}
@media (max-width: 480px) {
	.form-container {
		width: 80%;
	}
	.form {
		input {
			font-size: 16px;
			padding: 17px 0 10px 10px;

		}
		input:not(:first-child) {
			margin-top: 25px;
		}
		input:focus {
			font-size: 20px;
		}
		.form__btn {
			display: block;
			margin: 40px auto;
		}
	}
	.fake {
		width: 40px;
		height: 40px;
		&::before {
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
		}
		&::after {
			content: '✔';
			top: 48%;
			left: 73%;
			width: 40px;
			height: 40px;
			font-size: 36px;
		}
	}
	.checkbox-text {
		font-size: 24px;
	}
}

.footer { 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 150px;
	text-align: center;
}
.footer p{ 
	border-top: 5px solid $main_yellow_color;
	width: 80%;
	padding: 20px 0;
}
.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; 
  }
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	z-index: 1053;
	overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}


.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: hidden;
	& p{
		margin: 20px 0px;
		font-size: 25px;
	}
	& img{
		width: 200px;
		height: 200px;
	}
	.modal-btn {
		margin: 40px 0px;
		z-index: 1055;
	}
}